<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>URL Shortener Microservice</title>
  </head>
  <body>
    <div id="container">
      <h1>URL Shortener Microservice</h1>
      <p style="text-align: center">
        A <a href="https://www.freecodecamp.org/">freeCodeCamp</a> API Project
        by <a href="https://twitter.com/villamin_c">@villamin_c</a>. Link to
        <a
          href="https://github.com/ChristianVillamin/boilerplate-project-headerparser"
          >GitHub</a
        >.
      </p>
      <h2>Usage</h2>
      <p class="desc">
        The API endpoint is <b>POST</b> <code>/api/shorturl/new</code>.
        <br />
        Responds with the original url and the short url
        <b>number code.</b>
      </p>
      <br />
      <p class="desc">
        Use the base url (<code>https://cv-url.glitch.me</code>) and add
        <code>/&lt;number code&gt;</code>. <br />E.g.
        <a href="https://cv-url.glitch.me/0"
          ><code>cv-url.glitch.me/<b>0</b></code></a
        >
      </p>
      <h2>Short URL Creation POST Form</h2>

      <form action="api/shorturl/new" method="POST">
        <label>URL to be shortened</label>
        <input type="text" name="url" placeholder="Enter your URL" />
        <input type="submit" value="SHORTEN" />
      </form>

      <h2>Example</h2>

      <div class="example">
        <div class="in">
          <h3>Long URL</h3>
          <a
            href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882/ref=sr_1_1?keywords=clean+code&qid=1564044404&s=gateway&sr=8-1"
            >https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882/ref=sr_1_1?keywords=clean+code&qid=1564044404&s=gateway&sr=8-1</a
          >
        </div>
        <div class="out">
          <h3>Short URL</h3>
          <a href="https://cv-url.glitch.me/1">https://cv-url.glitch.me/1</a>
        </div>
      </div>

      <h2>User Stories</h2>
      <ol>
        <li>
          <p>
            I can POST a URL to <code>[project_url]/api/shorturl/new</code> and
            I will receive a shortened URL in the <b>JSON</b> response. Example
            :
            <code>{"original_url":"www.google.com","short_url":1}</code>
          </p>
        </li>
        <li>
          <p>
            If I pass an <b>invalid URL</b> that doesn't follow the
            <code>http(s)://www.example.com(/more/routes)</code> format, the
            <b>JSON</b> response will contain an error like
            <code>{"error":"invalid URL"}</code>
          </p>
        </li>
        <li>
          <p>
            When I visit the shortened URL, it will <b>redirect</b> me to my
            original link.
          </p>
        </li>
      </ol>
    </div>
  </body>
</html>
